In [108]:
import pandas as pd

In [109]:
data=pd.read_csv("CKD_data.csv")

In [110]:
data=data.drop(['id','Unnamed: 26'],axis=1)
data

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44.0,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38.0,6000,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31.0,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32.0,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35.0,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,140.0,...,47.0,6700,4.9,no,no,no,good,no,no,notckd
396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,75.0,...,54.0,7800,6.2,no,no,no,good,no,no,notckd
397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,100.0,...,49.0,6600,5.4,no,no,no,good,no,no,notckd
398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,114.0,...,51.0,7200,5.9,no,no,no,good,no,no,notckd
399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,131.0,...,53.0,6800,6.1,no,no,no,good,no,no,notckd

In [111]:
cat_cols = [col for col in data.columns if data[col].dtype == 'object']
num_cols = [col for col in data.columns if data[col].dtype != 'object']
cat_col

['rbc',
 'pc',
 'pcc',
 'ba',
 'wc',
 'rc',
 'htn',
 'dm',
 'cad',
 'appet',
 'pe',
 'ane',
 'classification']

In [112]:
data.isnull().sum()

age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                72
wc                107
rc                130
htn                 4
dm                  7
cad                 4
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [113]:
data.dropna(0,inplace=True)

In [114]:
data.isnull().sum()

age               0
bp                0
sg                0
al                0
su                0
rbc               0
pc                0
pcc               0
ba                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [115]:
data['classification'] = data['classification'].map({'ckd':1,'notckd':0})
data['htn'] = data['htn'].map({'yes':1,'no':0})
data['dm'] = data['dm'].map({'yes':1,'no':0})
data['cad'] = data['cad'].map({'yes':1,'no':0})
data['appet'] = data['appet'].map({'good':1,'poor':0})
data['ane'] = data['ane'].map({'yes':1,'no':0})
data['pe'] = data['pe'].map({'yes':1,'no':0})
data['ba'] = data['ba'].map({'present':1,'notpresent':0})
data['pcc'] = data['pcc'].map({'present':1,'notpresent':0})
data['pc'] = data['pc'].map({'abnormal':1,'normal':0})
data['rbc'] = data['rbc'].map({'abnormal':1,'normal':0})
data['wc'] = pd.to_numeric(data['wc'])
data['rc'] = pd.to_numeric(data['rc'])

In [116]:
data

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
3,48.0,70.0,1.005,4.0,0.0,0,1,1,0,117.0,...,32.0,6700,3.9,1,0,0,0,1,1,1
9,53.0,90.0,1.020,2.0,0.0,1,1,1,0,70.0,...,29.0,12100,3.7,1,1,0,0,0,1,1
11,63.0,70.0,1.010,3.0,0.0,1,1,1,0,380.0,...,32.0,4500,3.8,1,1,0,0,1,0,1
14,68.0,80.0,1.010,3.0,2.0,0,1,1,1,157.0,...,16.0,11000,2.6,1,1,1,0,1,0,1
20,61.0,80.0,1.015,2.0,0.0,1,1,0,0,173.0,...,24.0,9200,3.2,1,1,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,0,0,0,0,140.0,...,47.0,6700,4.9,0,0,0,1,0,0,0
396,42.0,70.0,1.025,0.0,0.0,0,0,0,0,75.0,...,54.0,7800,6.2,0,0,0,1,0,0,0
397,12.0,80.0,1.020,0.0,0.0,0,0,0,0,100.0,...,49.0,6600,5.4,0,0,0,1,0,0,0
398,17.0,60.0,1.025,0.0,0.0,0,0,0,0,114.0,...,51.0,7200,5.9,0,0,0,1,0,0,0
399,58.0,80.0,1.025,0.0,0.0,0,0,0,0,131.0,...,53.0,6800,6.1,0,0,0,1,0,0,0

In [117]:
data.columns

Index(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
       'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'],
      dtype='object')

In [118]:
#split input and output
independent=data[['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
       'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane']]
dependent=data['classification']

In [119]:
data['classification'].value_counts()

0    115
1     41
Name: classification, dtype: int64

In [120]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156 entries, 3 to 399
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             156 non-null    float64
 1   bp              156 non-null    float64
 2   sg              156 non-null    float64
 3   al              156 non-null    float64
 4   su              156 non-null    float64
 5   rbc             156 non-null    int64
 6   pc              156 non-null    int64
 7   pcc             156 non-null    int64
 8   ba              156 non-null    int64
 9   bgr             156 non-null    float64
 10  bu              156 non-null    float64
 11  sc              156 non-null    float64
 12  sod             156 non-null    float64
 13  pot             156 non-null    float64
 14  hemo            156 non-null    float64
 15  pcv             156 non-null    float64
 16  wc              156 non-null    int64
 17  rc              156 non-null    float64
 18  htn             156 non-null    int64
 19  dm              156 non-null    int64
 20  cad             156 non-null    int64
 21  appet           156 non-null    int64
 22  pe              156 non-null    int64
 23  ane             156 non-null    int64
 24  classification  156 non-null    int64
dtypes: float64(13), int64(12)
memory usage: 31.7 KB

In [121]:
#split training and test set
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [123]:
#model selection
from sklearn.neighbors import KNeighborsClassifier
classifier=KNeighborsClassifier()
classifier.fit(x_train,y_train)

KNeighborsClassifier()

In [124]:
y_pred=classifier.predict(x_test)

In [127]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_pred,y_test)
cm

array([[33,  7],
       [ 1,  6]])

In [129]:
from sklearn.metrics import classification_report
clf_report=classification_report(y_pred,y_test)
print(clf_report)

              precision    recall  f1-score   support

           0       0.97      0.82      0.89        40
           1       0.46      0.86      0.60         7

    accuracy                           0.83        47
   macro avg       0.72      0.84      0.75        47
weighted avg       0.89      0.83      0.85        47

In [134]:
result=classifier.predict([['48.0','70.0','1.005','4.0','0.0','0','1','1','0','117.0','36','1.3','0','0','15.4','32.0','6700','3.9','1','0','0','0','1','1']])
result

/home/giuser/.local/lib/python3.8/site-packages/sklearn/utils/validation.py:63: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  return f(*args, **kwargs)

array([0])